* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, th, td {
    border: thin solid;
    border-collapse: collapse;
}

caption {
    font-size: 20px;
}

caption, th, td {
    padding: 5px;
}

img {
    margin-top: 20px;
    margin-bottom: 10px;
}